rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /boxes/{boxId} {
      allow read: if true;
      allow write: if false;

      match /adventures/{adventureId} {
        allow read: if true;
        allow write: if false;
      }
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
